<%- include('partials/header') %>

<!-- Quiz Box -->
<div class="quiz_box">
    <header>
        <div class="title">Question</div>
        <div class="timer">
            <div class="time_left_txt">Time Left</div>
            <div class="timer_sec">30</div>
        </div>
     <!--   <div class="time_line"></div>-->
    </header>
    <form action="/stage2/ques/submit/<%=qID%>" id="stage2ques"  method="post">
    <section>
        <div class="que_text">
            <span><%=question%></</span>
            <!-- Here I've inserted question from JavaScript -->
        </div>
        <div class="option_list">
            <div class="option" id="option1"><span><%=option1%></span></div>
            <div class="option" id="option2"><span><%=option2%></span></div>
            <div class="option" id="option3"><span><%=option3%></span></div>
            <div class="option" id="option4"><span><%=option4%></span></div>
            <!-- Here I've inserted options from JavaScript -->
        </div>
    </section>

    <!-- footer of Quiz Box -->
    <footer>
        <input type="text" name="user_ans" id="user_ans">
        <div class="total_que">
            <span><%=sno%> of 10 Questions</span>
        </div>
        <button type="submit" class="next_btn" id="nextBtn">Next Que</button>
    </footer>
    </form>
</div>

<%- include('partials/footer') %>